.QRInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .PetQRInfo {
    display: flex;
    flex-direction: column;
    width: 70vw;
    .PetQRShortInfo {
      display: flex;
      justify-content: center;
      p {
        margin: 0 10px;
      }
    }
  }

  .OwnerQRInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    .OwnerQRShortInfo {
      display: flex;
      align-items: center;
      h5 {
        font-weight: 700;
      }
      p {
        margin: 0 10px;
      }
    }
  }

  .SecOwnQRInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;

    .SecOwnQRShortInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0px;
      h5 {
        font-weight: 700;
      }
      p {
        margin: 0px;
      }
    }
  }
}
