@import "../../index.scss";

.petsDiv,
.secondOwnerDiv {
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  .pName {
    font-size: 12px;
    font-weight: 700;
  }

  p {
    font-size: 12px;
    margin: 0px;
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .petsDiv,
  .secondOwnerDiv {
    .pName {
      font-size: 20px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      margin: 0px;
      width: 180px;
    }
  }
}
