.AdminDiv {
  .allOwners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    h4 {
      font-size: 20px;
    }

    .tableDivOwner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90vw;

      p {
        font-size: 15px;
        font-weight: bold;
      }
    }

    .tableDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80vw;

      p {
        font-size: 12px;
        font-weight: bold;
      }
    }

    .ownerDiv {
      width: 90vw;
      p {
        font-size: 10px;
        width: 140px;
      }
    }
  }
}
.adminLogin {
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .AdminDiv {
    .allOwners {
      .tableDiv {
        p {
          font-size: 20px;
        }
      }
      .ownerDiv {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
