@import "/src/index.scss";
.alertMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: $lightBeige;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }
}

.topHeader {
  height: 100px;
  border-bottom: 0.5px solid rgba(102, 102, 102, 0.5);
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .QRLogo {
    width: 80px;
  }

  .desktopNav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: $myBlack;

          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.footerOne {
  background-color: $lightBeige;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  .footerLeft,
  .footerCenter,
  .footerRight {
    text-align: center;
    margin: 15px 0px;
    svg {
      font-size: 30px;
      margin: 10px 0px;
    }
  }
}

// tablet
@media screen and (min-width: 720px) {
  .topHeaderLeft {
    width: 25%;
    margin-left: 20px;
  }
  .topHeaderCenter {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .topHeaderRight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: auto;
    margin: 5px;
    .Btn {
      margin: 5px;
    }
  }

  .footerOne {
    .footerRight {
      svg {
        font-size: 40px;
      }
    }
  }
}

// mobile
@media screen and (max-width: 720px) {
  .topHeader {
    height: 50px;
  }
  .topHeaderLeft {
    .QRLogo {
      width: 50px;
    }
  }

  .desktopNav {
    display: none;
  }

  .topHeaderRight {
    display: none;
  }
}
