@import "../../index.scss";
.siteInfo {
  h1 {
    margin: 20px;
  }
  .sidebysideHome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 12px;
      padding-right: 20px;
      text-align: center;
    }
  }
  .phoneImg {
    width: 50vw;
  }

  hr {
    width: 100%;
    height: 1px;
    color: #666;
    margin: -4px 0px 0px 0px;
  }
}

@media screen and (min-width: 720px) {
  .siteInfo {
    margin: 20px;
    .sidebysideHome {
      p {
        font-size: 20px;
      }
    }
    .phoneImg {
      margin-left: -20px;
    }

    hr {
      width: 100vw;
      margin: 0px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .siteInfo {
    h1 {
      position: absolute;
      left: 35%;
      margin-top: 100px;
    }
    .sidebysideHome {
      justify-content: space-between;
      align-items: center;
      .phoneImg {
        width: 35vw;
      }
    }
    hr {
      width: 100vw;
      margin-left: -20px;
    }
  }
}
