@import "../../index.scss";

.siteInfo {
  h1 {
    margin: 20px;
  }
  .sidebysideHome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 12px;
      padding-right: 20px;
      text-align: center;
    }
  }
  .phoneImg {
    width: 50vw;
  }
}

@media screen and (min-width: 720px) {
  .siteInfo {
    margin: 20px;
    .sidebysideHome {
      p {
        font-size: 20px;
      }
    }
    .phoneImg {
      margin-left: -20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .siteInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      width: 70vw;
    }

    .sidebysideHome {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100vw;

      .textDiv {
        width: 60vw;

        h1 {
          width: 50vw;
        }
        p {
          width: 40vw;
          margin: 50px 0px;
          text-align: left;
        }
      }

      .phoneImg {
        width: 35vw;
      }
    }
  }
}
