@import "../../index.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .homeText {
    margin: 20px;
  }

  .homeImg {
    .CatDogImg {
      width: 100vw;
    }
  }

  .UserStats {
    width: 100vw;
    height: 65px;
    color: $myWhite;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $darkGreen;

    h3 {
      margin: 0px;
      width: 50vw;
    }

    .statOne {
      margin: 10px;

      h2 {
        margin: 0px;
      }
    }

    .statTwo {
      margin: 10px;
      h2 {
        margin: 0px;
      }
    }

    hr {
      width: 1px;
      height: 45px;
      border: 0px;
      background-color: #666;
      margin: 0px;
    }
  }
}

@media screen and (min-width: 720px) {
  .home {
    .UserStats {
      height: 120px;

      .statOne,
      .statTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      hr {
        height: 80px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    .homeHero {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 90vw;

      .homeText {
        width: 50vw;
      }

      .homeImg {
        .CatDogImg {
          width: 35vw;
        }
      }
    }
  }
}
