@import "../../index.scss";

.contact {
  .contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .contactInfoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;

    .formDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;

      textarea {
        outline: 0;
        background: #f2f2f2;
        width: 90vw;
        border: 1px solid $mediumBrown;
        padding: 5px;
        box-sizing: border-box;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}

.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .FAQitem {
    width: 50vw;
    .questionDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .anwser {
      display: none;
    }

    .anwser.show {
      display: block;
    }
  }
}

// desktop
@media screen and (min-width: 1024px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .contactInfo {
      width: 40vw;
    }
    .contactInfoForm {
      .formDiv {
        textarea {
          width: 40vw;
        }
      }
    }
  }
}
