@import "../../index.scss";

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
}
